extends layout

block elements
  h1 Discussion
  if posts
   each post, i in posts
     .post
       h2 #{post.title}
       #{post.text}

       Posted by #{post.author} on #{post.date).format("MM-DD-YYYY")}
       =post.text
       p

  h1 Post a reply
  if logged_in
    form(name="input", action="/topic/"+url, method="post")

    !{form}
    input(type="submit", value="Post Reply")
  else
    p You need to login to post a reply.
