extends layout

block content
  h1 Discussion
  if posts
   each post, i in posts
     .post
       h2 #{post.title}
       #{post.text}

       Posted by #{post.author} on #{post.date).format("MM-DD-YYYY")}
       =post.text
       p

       .button-right
         a.more(href='/posts/show/#{post._id}') Show details
         form.form-check-inline(action='/cart/#{post.id}', method='post')
           input.buy(type= 'submit', name='submit', value ='Add To Cart')

  h1 Post a reply
  if logged_in
    form(name="input", action="/topic/"+url, method="post")

    !{form}
    input(type="submit", value="Post Reply")
  else
    p You need to login to post a reply.
